@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background-color: #d6e2f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 290px;
  padding: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 18px;
  box-shadow: 10px 10px 50px rgba(31, 50, 81, 0.1);
}
.card__code img {
  border-radius: 10px;
  width: 100%;
}
.card__title {
  padding-inline: 15px;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0 15px 0;
  color: #1f3251;
}
.card__text {
  padding-inline: 15px;
  margin-bottom: 25px;
  font-size: 15px;
  color: #7b879d;
}
